[Desktop Entry]
Categories=Application;System;
Exec=gksu /usr/sbin/salix-live-installer.py
Icon=salix-live-installer
StartupNotify=true
Terminal=false
Type=Application
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
Name=Salix Installer
Name[da]=SalixLive-installationsprogram
Name[de]=Salix Installationsprogramm
Name[el]=Εγκατάσταση του Salix
Name[es]=Instalador de SalixLive
Name[es_AR]=Instalador de SalixLive
Name[fr]=Installeur Salix
Name[hu]=Salix telepítő
Name[it]=Installatore di Salix
Name[ja]=Salixインストーラー
Name[nl]=Salix Installer
Name[pl]=Instalator Salix
Name[pt_PT]=Instalador Salix
Name[sv]=Salix Installerare
Name[uk]=Встановлювач Selix
GenericName=Salix Live Installer
GenericName[da]=Installationsprogrammet Salix Live
GenericName[de]=Salix Live Installer
GenericName[el]=Εφαρμογή εγκατάστασης SalixLive
GenericName[es]=Instalador de SalixLive
GenericName[es_AR]=Instalador de SalixLive
GenericName[fr]=Installeur Salix Live
GenericName[hu]=Salix Live telepítő
GenericName[it]=Installatore di Salix Live
GenericName[ja]=SalixLiveインストーラ
GenericName[nl]=Salix Live Installer
GenericName[pl]=Instalator Salix Live
GenericName[pt_PT]=Instalador Salix Live
GenericName[sv]=Salix Live installerare
GenericName[uk]=Встановлювач Salix Live
Comment=Install Salix on your computer from a SalixLive session
Comment[da]=Installér Salix på din computer fra en SalixLive-session
Comment[de]=Installiere von einer SalixLive Sitzung aus Salix auf dem Computer
Comment[el]=Εγκατάσταση του Salix στον υπολογιστή σας μέσω του περιβάλλοντος SalixLive
Comment[es]=Instalar Salix en su computadora desde una sesión SalixLive
Comment[es_AR]=Instalar Salix en su computadora desde una sesión SalixLive
Comment[fr]=Installer Salix sur son ordinateur à partir d'une session SalixLive
Comment[hu]=A Salix telepítése a számítógépére a SalixLive munkafolyamatból
Comment[it]=Installa Salix sul computer da una sessione SalixLive
Comment[ja]=SalixをSalixLiveのセッションから、コンピュータにインストールする。
Comment[nl]=Installeer Salix op uw computer van een SalixLive sessie
Comment[pl]=Instalacja Salix na twojej maszynie z sesji SalixLive
Comment[pt_PT]=Instalar Salix no seu computador de uma sessão SalixLive
Comment[sv]=Installera Salix på datorn från en SalixLive session
Comment[uk]=Встановити Selix на Ваш комп’ютер з сесії SalixLive
